@font-face {
	font-family: "Franklin Gothic Book";
	src: url("../fonts/franklin-gothic-book/franklin-gothic-book.woff") format("woff"),
		url("../fonts/franklin-gothic-book/franklin-gothic-book.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Franklin Gothic Demi";
	src: url("../fonts/franklin-gothic-book/franklin-gothic-demi.woff") format("woff"),
		url("../fonts/franklin-gothic-book/franklin-gothic-demi.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Franklin Gothic Medium";
	src: url("../fonts/franklin-gothic-book/franklin-gothic-medium.woff") format("woff"),
		url("../fonts/franklin-gothic-book/franklin-gothic-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Franklin Gothic Heavy";
	src: url("../fonts/franklin-gothic-book/franklin-gothic-heavy.woff") format("woff"),
		url("../fonts/franklin-gothic-book/franklin-gothic-heavy.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CharterITCBlack";
	src: url("../fonts/charteritcblack.woff") format("woff"),
		url("../fonts/charteritcblack.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}